@use "./../utils" as *;


.appMain{
  background: skyblue;
  display: grid; 
  @include paddingX(20PX);
  @include paddingY(16PX);

  @include mobile {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: rem(16px);
  }

  @include desktop {
    @include containerMax;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    row-gap: rem(16px);
    column-gap: rem(20px);
    grid-template-areas: 
    "news news news news news news news news news news news news"
    "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
    "book book book book . board board board board board board board";
  };

  @include desktop {
    .book{
      grid-area: book;
    };
    .news{
      grid-area: news;
    };
    .board{
      grid-area: board;
    };
    .favorite{
      grid-area: favorite;
  
    };
    .twitter{
      grid-area: twitter;
    };
  }
}