@use "./../utils" as *;


.appMain{
  @include paddingX(20PX);
  @include paddingY(16PX);

  @include mobile {
    // grid-template-columns: 100%;
    // grid-template-rows: auto;
    // row-gap: rem(16px);
    @include gridbox(1, 100%,16px);
  }

  @include desktop {
    @include containerMax;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: auto;
    // row-gap: rem(16px);
    // column-gap: rem(20px);
    @include gridbox($row-gap:16px, $column-gap:20px);
    grid-template-areas: 
    "news news news news news news news news news news news news"
    "book book book book twitter twitter twitter twitter twitter favorite favorite favorite"
    "book book book book . board board board board board board board";
  };

  @include desktop {
    .book{
      grid-area: book;
    };
    .news{
      grid-area: news;
    };
    .board{
      grid-area: board;
    };
    .favorite{
      grid-area: favorite;
  
    };
    .twitter{
      grid-area: twitter;
    };
  }


    .book{
      &__cover{
        width: 70%;
        @include autoMargin;
        text-align: center;
      }

      &__info{
        @include flexbox($wrap:wrap, $justify:center);
        column-gap: rem(8px);
      }

      @at-root .ratingStar{
        text-align: center;
        width: 100%;
        font-size: rem(36px);
      }
      

    };

    .news{
      @at-root .iframeWrapper{
        @include ratio;
      }

    };

    .board{
      position: relative;
      &__more{
        @include posRightTop($r:0,$t:0);
      }

      &__list{
        @include flexbox(column);
      }
      &__item{
        margin: rem(8px) 0;
        @include flexbox();
        column-gap: rem(8px);

      }
      &__link{
        flex-grow: 1;
        @include textOver();
      }

      &__date{
        white-space: nowrap;
      }
    };

    .favorite{

  
    };
    .twitter{

    };


}